# git config file
# williamsd, 2017, May

[alias]
        br = branch
        co = checkout
        ea = submodule foreach
        sta = status
        st = status
        ls = ls-files
        sub= submodule

[user]
        name = Daniel_M_Williams
        email = dwilliams@sea-machines.com
        
[core]
        autocrlf = input
        filemode = false
        editor = emacs
	excludesfile = ~/.gitignore

[push]
	default = simple

[merge]
	commit = no
	ff = only

[log]
	abbrevcommit = true
        decorate = auto

[format]
	pretty = oneline

[receive]
	denyCurrentBranch = updateInstead
[status]
	submodulesummary = 1
