# Git Ignore File.

# use glob syntax.
syntax: glob

# ===== ===== Programming ===== ===== 
# C variant files
*.o
*.so

# Haskell
*.gch

# Java
*.class
.classpath

# XCode Files
*.xcodeproj

# ===== ===== Revision Control Files ===== ===== 
commit.txt
.git*

# ===== ===== Home Dir files ===== ===== 
# just plain ignore
.android/*
.atom
.autoenv*
.aws/*
.adobe*
.aptitude*
.arduino*
.bash*
bookmarks_current.html
.bundle
.c*
.d*
.eclipse_keyring/*
.emulator*
.heroku*
.eclipse/*
.face*
.MacOSX/*
.Trash/*
.ICE*
.idlerc/*
.irb*
.m2/*
.macports/*
.mate*
.mongorc.js
.netrc*
.eclipse/*
.eclipse_keyring
.emacs.d/auto-save-list/
.esd*
.evo*
.fuse*
.font*
.g*
.keepassx/*
.java*
.kde*
.l*
.matlab*
.mission*
.matplotlib/*
.modulus/
.mozilla*
.nautilus*
.node*
.npm*
.nv/*
.nvidia-settings-rc*
.nvm/*
.o*
.pam_environment
.p2/*
.pip/*
.pki*
.psql_*
.profile
.python_history
.pulse*
.recently*
.rvm*
.rbenv*
.sh_history
.sqlite_history
.smr*
smr*
.ssh*
.subversion/*
.synaptic*
.sudo*
.tex*
.tooling*
.thumb*
.update-manager-core*
.viminfo
.virtualenvs*
.x*
.X*
.zcompdump*
.zlogin
.zshenv
.zshrc
.Trashes*
AppData*
Applications/*
Contacts*
Documents*
Desktop*
Downloads/*
Favorites*
iTunes*
Library/*
Links*
NTUSER*
Mail*
Searches*
Thumbs.db
thumbs.kdb
ntuser*
workspace/*

# under their own git repositories:
project*
notes
recipe/
records/
sync/

# rsync binaries:
text*
audio*
job*
language*
mileage-export*
music*
pictures*
people*
taxes*
video*

# ===== ===== Operating System Dependent Files ===== ===== 
# Mac OSX
.DS_Store

