# git config file
# williamsd, 2017, May

[alias]
        sta = status
        st = status
        ls = ls-files
        co = checkout
        sub= submodule

[user]
        name = Daniel_M_Williams
        email = equipoise@gmail.com
        
[core]
        autocrlf = input
        filemode = false
        editor = emacs
	excludesfile = ~/.gitignore

[push]
	default = simple

[merge]
	commit = no
	ff = only

[log]
	abbrevcommit = true

[format]
	pretty = oneline

[receive]
	denyCurrentBranch = updateInstead
