"*":
  "atom-material-ui":
    colors:
      abaseColor: "#dedede"
      accentColor: "#87ae86"
  "bracket-matcher":
    autocompleteBrackets: false
  core:
    autoHideMenuBar: true
    packagesWithKeymapsDisabled: [
      "bracket-matcher"
    ]
    projectHome: "/home/teyrana/project"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "zenburn"
    ]
  "exception-reporting":
    userId: "73eaadee-8161-4b12-a420-761cbeb9ae62"
  welcome:
    showOnStartup: false
".python.source":
  editor:
    preferredLineLength: 90
    scrollPastEnd: false
    showIndentGuide: true
