# Custom Keymap:
#
# Atom keymaps work similarly to style sheets. Just as style sheets use
# selectors to apply styles to elements, Atom keymaps use selectors to associate
# keystrokes with events in specific contexts. Unlike style sheets however,
# each selector can only be declared once.
#
#
# You can find more information about keymaps in these guides:
# * http://flight-manual.atom.io/using-atom/sections/basic-customization/#_customizing_keybindings
#

'.platform-linux':
  'alt-`': 'tree-view:toggle'
  'alt-q': 'tree-view:toggle'

'atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  # 'alt-a': 'editor:move-to-previous-subword-boundary'
  'ctrl-e': 'editor:move-to-end-of-line'
  # 'alt-e': 'editor:move-to-next-subword-boundary'
  'ctrl-shift-a': 'editor:select-to-first-character-of-line'
  'ctrl-shift-e': 'editor:select-to-end-of-line'
  # 'ctrl-c': 'core:move-left'
  # 'ctrl-t': 'core:move-right'
  # 'alt-c': 'editor:move-to-next-subword-boundary'
  # 'alt-t': 'editor:move-to-previous-subword-boundary'
  # 'ctrl-alt-r': 'core:move-to-top'
  # 'ctrl-alt-n': 'core:move-to-bottom' # doesn't work for some reason.... because the combination isn't recognized?
  # 'ctrl-alt-v': 'core:move-to-bottom'
  # 'ctrl-r': 'core:move-up'
  # 'ctrl-n': 'core:move-down'
  # 'alt-r': 'core:page-up'
  # 'alt-n': 'core:page-down'

  # unset these, so the other bindings can take effect
  'alt-left': 'unset!'
  'alt-right': 'unset!'
  'alt-up': 'unset!'
  'alt-down': 'unset!'

'body':
  'ctrl-q': 'unset!'
  'ctrl-=': 'unset!'
  'ctrl--': 'unset!'

  'ctrl-;': 'core:undo'
  'alt-;':  'core:redo'
  'ctrl-shift-;': 'core:redo'
  'alt-z': 'core:redo'

  # 'alt-x': 'core:paste'

  'alt-left': 'window:focus-pane-on-left'
  'alt-right': 'window:focus-pane-on-right'
  'alt-up': 'window:focus-pane-above'
  'alt-down': 'window:focus-pane-below'
